<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>adoteCaoProjetoController.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>registerServlet</servlet-name>
  	<display-name>registerServlet</display-name>
  	<description></description>
  	<servlet-class>adoteCaoProjetoController.registerServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>adoteCaoProjetoController.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JwtValidator</servlet-name>
  	<display-name>JwtValidator</display-name>
  	<description></description>
  	<servlet-class>adoteCaoProjetoController.JwtValidator</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>registerServlet</servlet-name>
  	<url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JwtValidator</servlet-name>
  	<url-pattern>/JwtValidator</url-pattern>
  </servlet-mapping>
</web-app>
